.App {
  background-image: url(/src/images/background.svg);
  min-height: 100vh;
  font-family: 'Glass Antiqua', cursive;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: 000;
}

.App-body {
  background-color: transparent;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  padding-bottom: 32px;
}

.card-container.raise {
  transform: translateY(-8px);
}

.card-container.lower {
  transform: translateY(8px);
}